pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/e4e34038-ea1f-4882-b6e8-ccd776459ca0/oauth2/v2.0/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": {
						"value": "grant_type=client_credentials&\nclient_id=624fc5d3-d4a8-400a-a4bf-68deb3588702&\nclient_secret=Ttn8Q~KW3H~s-SyPlYPddz-tp7pm.7W4X~D.ydtB&\nscope=https://graph.microsoft.com/.default",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://graph.microsoft.com/v1.0/sites/8f59d8b1-c5f2-4635-a1d4-f6fbf01ee3d3/lists/e4afa519-7107-4267-aee8-e8cb7237330a/items",
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "Bearer @{activity('Web1').output.access_token}",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n\t\"fields\": {\n        \"Title\":\"Adf Pipeline Entry\"\n        ,\"Status\" : \"Successfull\"\n    }\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-06-07T12:52:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}